body{
    background-color: rgb(26, 97, 93);
    margin: 0;
    
}
main{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
.image-container{
    text-align: center;

}
.image-container img{
    margin: 2rem;
    box-shadow: 1 4px 8px rgba(0,0,0,0.3);
    border-radius: 1rem;
    background-color: lightblue;
    width: 19rem;
    height: 19rem;
}
.more{
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.more:hover{
    background-color: skyblue;
    box-shadow: 4px 4px rgba(0,0,0,0.3);
}