body{
    background-image: url("https://images.unsplash.com/photo-1663720409189-20c1e9dff659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
.clock{
    display: flex;
}

.clock section{
    margin: 0.5rem;

}
.clock span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-shadow: 2px 2px 4px white;
    width: 6rme;
    height: 5rem;
    background-color: rgb(19, 18, 18);
    opacity: 80%;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
.clock .text{
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(250, 57, 57);
    opacity: 80%;
    padding: 0.5rem;
}

.clock #ampm{
    position: absolute;
    bottom: 12rem;
    width: 4rem;
    height: 2rem;
    font-size: 1.5rem;
    background: rgb(231, 64, 64);
}