body{
    margin: 0;
}
.header{
    background: url("https://images.unsplash.com/photo-1555532538-dcdbd01d373d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=964&q=80");
    background-size: cover;
    text-align: center;
    transition: filter 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.popup-container{
    background-image: url("https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80");
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 24rem;
    padding: 1rem;
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 13rem;
    top: 30%;
    opacity: 0;
    transition: all 0.7s;
}
h1{
    font-size: 3rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
h2{
    font-size: 1.5rem;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.button{
    padding:0.5rem 1.5rem;
    width: 13rem;
    background-color: tomato;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.button:hover{
    background-color: white;
    border: 2px solid tomato;
}
.active.header{
    filter: blur(5px) brightness(0.7);
}
.pop-button{
    background-color: tomato;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rme;
    border: 2px solid black;

}
.input{
    border: 2px solid black;
    padding: 0.5rem;
    margin: 0.5rem 0;
    text-align: center;
}
.pop-button:hover{
    background-color: skyblue;
    border: 2px solid tomato;
}
.close-icon{
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
}
.close-icon:hover{
    color: blue;
}

.active.popup-container{
    visibility: hidden;
    opacity: 1;
    
}