body{
margin: 0;
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
}
.input{
    visibility: hidden;
}

.label{
    height: 2.6rem;
    width:5rem;
    background-color: rgb(202, 200, 197);
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
}
.circle{
    width: 2.5rem;
    border-radius: 50%;
    background-color: wheat;
    position: absolute;
    top: 1px;
    height: 2.5rem;
    animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label{
    background-color: sandybrown;
}

.input:checked + .label .circle{
    animation: toggleOn 0.4s linear forwards;
}




@keyframes toggleOn {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40px);
    }
}
@keyframes toggleOff {
    0%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0px);
    }
}