

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(154, 154, 250);
}

.form{
    background-color: whitesmoke;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0);
    border-radius: 2rem;
    margin: 1rem;
}

.input{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border: 4px solid blue;
    color: black;
    box-sizing: border-box;

}
.submit{
    background-color: rgb(255, 145, 72);
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 4px 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    
}
.submit:hover{
    background-color: tomato;
}

.score{
    color: blue;
    text-align: right;
}