body{
    margin: 0;
}
.top-container{
    background-image:url("https://images.unsplash.com/photo-1661956600684-97d3a4320e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-container h1{
    color: rgb(243, 31, 16);
    
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar ul li:hover{
    background-color: rgb(203, 203, 255);
}
.navbar ul li a{  
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.text{
    margin: 3rem 5%;
    font-family: sans-serif;

}
.navbar.active{
    background-color: black;
}
.navbar.active ul li a{
    color: white;
}