body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}



.main{
    padding: 1rem;
    max-width: 34rem;
    
}
.main img{
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 0.5rem;
}
.main h1{
    font-weight: 500;
    color: white;

}
.main p{
    margin: 1rem;
    color: white;

}
.trailer-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);

}

.trailer-container video{
    position: relative;
    max-width: 56rem;
    outline: none;
}
.button{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    background-color: white;
    color: blue;
    border-radius: 0.5rem;
}
.button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

@media (max-width:57rem){
    .trailer-container video{
        max-width: 90%;
    }
}
.close-button{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    font-size: 2rem;
}
.active.trailer-container{
    visibility: hidden;
}