body{

    background-color: tomato;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.main-section{
    background-color: rgb(245, 189, 189);
    width: 35rem;
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

}
.textarea{
    resize: none;
    width: 100%;
    height: 7rem;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 0.5rem;
    box-sizing: border-box;
    border:2px solid darkslategray;
}
.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.counter-container p{
    font-size: 1rem;
    color: gray;
}

.total-counter{
    color: rgb(74, 60, 87);
    font-weight: bold;
}
.remaining-counter{
    color: red;
    font-weight: bold;
}
