body{
    margin: 0;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1506271955088-88204c99e99a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  
}
h1{
    color: white;
    margin-top: 4rem;
    font-size: 5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px 4px rgba(3, 3, 3, 0.3);
}
.instruments{
    position: relative;
    top: 10rem;
    text-align: center;
}
.button{
    padding: 2rem 3.5rem;
    margin: 0.5rem;
    font-size: 2rem;
    min-width: 12rem;
    border-radius: 1.4rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: white;
    border: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background-image: url("images/tom.png");
    background-size: cover;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

.button:hover{
    color: orangered;
}
.button:active{
    background-size: 105%;
}
