body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.color-container{
    width: 19rem;
    height: 9rem;
    color: white;
    margin: 0.5rem;
    background-color: rgb(243, 149, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}