
body {
    margin: 0;
    background-color: lightpink;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-slider {
    position: relative;
    overflow: hidden;
    height: 18rem;
    width: 25rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  .button{
    position: absolute;
    color: white;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    opacity: 50%;
  }
  .button:hover{
    opacity: 100%;
  }
  .button.prev{
    left: 0.5rem;
  }
  .button.next{
    right: 0.5rem;
}
  