body{
 margin: 0;
 font-family: sans-serif;   
}

.background-image{
    background-image: url("https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    width: 100%;
    height: 100vh;
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 6rem;

}
h1{
    font-size: 4rem;
}
p{
    color: rgb(32, 32, 95);
}
@media (max-width: 500px){
    .container{
        padding: 0.7rem;
    
    }
}