body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.button{
    background-color: aquamarine;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    border-radius: 5px;
    color: black;
    overflow: hidden;
    position: relative;
}

.button::before{
    content: "";
    position: absolute;
    background-color: tomato;
    /* width: 1.2rem;
    height: 1.2rem;
    left: 50%;
    top: 50%; */
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%,-50%);
    transition: width 0.5s,height 0.5s;
    border-radius: 50%;
}
.button:hover::before{
    width: 18rem;
    height: 18rem;
}
.button span{
    position:relative;
    z-index: 1;
}